@import '../mixins'
@import '../variables'
.main-navbar
  position: fixed
  display: flex
  justify-content: space-between
  height: calc(100% - 31px)
  min-height: 500px
  max-width: 50px
  flex-direction: column
  border-right: 1px solid #f2f2f2
  background-color: rgba(white, .2)
  border-top-left-radius: 20px
  border-bottom-left-radius: 20px
  @include transition
  @media screen and ( max-width: $break-ex-large )
    height: calc(100% - 20px)
  &>ul
    order: -1
    list-style-type: none
    border-top-left-radius: 20px
    &>span
      display: inline-block
      order: -2
      font-weight: 700
      font-size: .7em
      padding: 10px 5px
      width: 100%
      display: flex
      justify-content: flex-start
      align-items: center
      border-bottom: 1px solid #f2f2f2
      border-right: 1px solid white
      border-top-left-radius: 20px
      &>a
        border-top-left-radius: 20px
    &>li
      max-width: 100%
      padding: 10px 0
      border-bottom: 1px solid #f2f2f2
      display: flex
      justify-content: flex-start
      align-items: center
      cursor: pointer
      border-top-left-radius: 20px
      &>p
        margin: 0 auto
      &>img
        max-width: 20px
        height: 22px
        margin: 0 14px
      &>span
        transform: scaleX(0)
        transform-origin: 0 50%
        @include transition
      &:last-child
        border: none
  &__title
    transform: rotate(-90deg) translateX(50%)
    font-size: 1.5em
    @include transition
ul>li.open-menu
  justify-content: center
  &>img
    max-width: 15px
    transform-origin: 50 0
    @include transition
.main-navbar.opened
  width: 140px
  max-width: 140px
  background-color: rgba(white, .95)
  z-index: 10
  @include transition
  &>ul
    &>li
      &.open-menu
        &>img
          transform: rotate(180deg)
          @include transition
      &>span
        transform: scale(1)
        @include transition
  &>.main-navbar__title
    transform: rotate(0deg) translateX(15%) translateY(-25%)
    font-size: 1.5em
    @include transition
.menu-middle
  height: 100%
  margin: -25px 0 0
  &.opened
    height: 100%
    padding-bottom: 20px 

.menu-bottom
  height: calc(100% - 50px)
  margin: -25px 0 0
  &.opened
    height: 92%
    @media screen and ( max-width: $break-ex-large )
      height: calc(100% - 22px)
      