@import 'ui'
.not-found
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  height: 85vh
  width: 100%

// main page
.wscreen
  min-height: 70vh
  display: flex
  justify-content: center
  align-items: center
  border-bottom: 1px solid $global-grey
  @media screen and ( max-width: $break-ex-large )
    min-height: 40vh
  @media screen and ( max-width: $break-large )
    min-height: 40vh
  @media screen and ( max-width: $break-medium )
    justify-content: flex-start
    align-items: center
    min-height: 40vh
  &-titles
    background-image: url('../img/wscreen_bg.svg')
    background-size: 100% auto
    background-repeat: no-repeat
    background-position: -5px 0px
    width: 90%
    height: 60vh
    min-height: 40vw
    max-height: 100vw
    display: flex
    justify-content: center
    align-items: flex-start
    padding-top: 350px
    margin-left: 20px
    @media screen and ( max-width: $break-ex-large )
      background-position: -5px 10px
      padding-top: 260px
      height: auto
    @media screen and ( max-width: $break-large )
      width: 100%
      background-position: -30px 40px
      padding-top: 230px
      margin-top: -60px
      min-height: 35vw
    @media screen and ( max-width: $break-medium )
      background: none
      background-size: 0 0
      height: auto
      padding-top: 50px
      min-height: 0
    &>:nth-child(2)
      transform: translate(-32%, -100%)
      @media screen and ( max-width: $break-medium )
        transform: translate(-35%, 7%)

.title
  position: relative
  transform: translate(10%, -60%)
  @media screen and ( max-width: $break-medium )
    transform: translate(0, 50%)
  &__name
    font-size: calc(3em + 4vw)
    font-weight: bold
    color: $global-dark-grey
    @media screen and ( max-width: $break-medium )
      font-size: calc(2em + 4vw)
    @media screen and ( max-width: $break-small )
      font-size: calc(2em + 4vw)
  &__cap
    font-weight: bold
    color: $global-dark-grey
    font-size: calc(.5em + 1vw)
    @media screen and ( max-width: $break-medium )
      font-size: calc(.4em + 1vw)
  &.cap-top
    &>.title__cap
      position: absolute
      top: -4px
      left: 5px
  &.cap-bottom
    &>.title__cap
      position: absolute
      bottom: -15px
      left: 45%
      width: 100%
      font-size: calc(.3em + 1.1vw)
      @media screen and ( max-width: $break-large )
        bottom: -10px
      @media screen and ( max-width: $break-medium )
        font-size: calc(.25em + 1.1vw)
        left: 40%

.inspscreen
  position: relative
  border-bottom: 1px solid $global-grey
  padding-top: 70px
  padding-bottom: 50px
  min-height: 400px
  @media screen and ( max-width: $break-small )
    padding-bottom: 20px
    padding-top: 40px
    min-height: 300px
  &>.big-text
    top: 40%
    left: 50%
    transform: translate(-50%, -50%)
    @media screen and ( max-width: $break-small )
      top: 50px
  &>h2
    right: 55px
    top: 70px
    @media screen and ( max-width: $break-medium )
      right: 10px
    @media screen and ( max-width: $break-small )
      top: 0
  &>p
    width: 90%
    max-width: 600px
    text-align: center
    margin: 0 auto
    padding-top: 80px
    position: relative
    @media screen and ( max-width: $break-small )
      padding-top: 30px
.shresume
  position: relative
  border-bottom: 1px solid $global-grey
  min-height: 600px
  &>.big-text
    top: -30px
    right: 50px
    @media screen and ( max-width: $break-large )
      top: -15px
      z-index: 3
    @media screen and ( max-width: $break-small )
      top: -10px
      right: 30px
  &>h2
    transform: rotate(90deg) translate(32.5%, -121%)
    top: 0
    right: 0
  &>.photo
    position: absolute
    top: 150px
    left: 0
    opacity: .15
    max-width: 40%
    height: auto
    max-height: 100%
    margin-bottom: -6px
    @media screen and ( max-width: $break-large )
      top: 80px
      left: 54%
      transform: scale(-1, 1)
      opacity: .5
    @media screen and ( max-width: $break-small )
      position: relative
      transform: none
      top: 0
      left: 0
      opacity: 1
      padding-top: 30px
    &>img
      max-width: 100%
      max-height: 550px
  &>a
    position: absolute
    bottom: -15px
    right: 40px
    transform: rotate(-45deg)
    transform-origin: 0 0
    font-size: 1.5em
    font-weight: bold
    text-decoration: none
    z-index: 1

    &>span.underline
      font-size: .8em
      text-transform: lowercase
      padding: 0 10px
      padding-bottom: 3px
      display: inline-block 
      border-bottom: 1px solid $global-dark-grey
      z-index: 0
    @media screen and ( max-width: $break-small )
      transform: rotate(0)
      bottom: 5px
      font-size: .85em
      right: 3px
      border-left: 1px solid $global-dark-grey
      &>span.underline
        border-bottom: none
        
    &:hover
      text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  &-data
    display: flex
    flex-wrap: wrap
    padding-top: 100px
    padding-left: 230px
    padding-right: 70px
    @media screen and ( max-width: $break-large )
      padding: 40px 10px 0
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
    @media screen and ( max-width: $break-small )
      padding-top: 0
    &__block
      min-height: 200px
      width: 30%
      min-width: 280px
      padding-left: 20px
      position: relative
      @media screen and ( max-width: $break-large )
        padding: 0
      &:first-child, &:nth-child(4)
        padding: 0
      @media screen and ( max-width: $break-large )
        min-height: auto
        margin: 15px 0
      @media screen and ( max-width: $break-small )
        margin: 5px 0
      &.work-experience
        min-width: 280px
        width: 60%
        max-width: 95%
      &>h3
        text-align: left
        transform: none
        margin: 10px 0
      &>ul
        list-style: none
        max-width: 100%
        &>li
          padding: 3px 0
          max-width: 100%
          &>span
            font-size: 16px
            max-width: 100%
          &>.key
            font-weight: bold
            font-size: 14px
            min-width: 80px
            display: inline-block
            max-width: 100%
          &>.value
            font-size: 14px
            min-width: 50%
            display: inline-block
            max-width: 100%
ul.education
  &>li
    &>.education
      &__level
        display: block
        font-weight: bold
        font-size: .9em
      &__place
        font-weight: 300
        font-size: .7em
        padding-bottom: 5px


ul.certificates
  &>li
    font-size: 10px
    &>a
      font-size: 16px
      text-decoration: none
      font-weight: bold
      &:hover
        text-decoration: underline
    &>span
      &.course__name
        font-size: 14px
        font-weight: bold
      &.course__by
        font-size: 10px
.shresume-data__block>ul>.work-experience-item
  padding: 5px 0
  position: relative
.shresume-data__block > ul > li > span.work-experience-item__dates
    position: absolute
    top: 0
    right: 0
    font-size: 12px
    @media screen and ( max-width: $break-medium )
      display: block
      position: relative
      font-size: .6em
      color: $global-dark-grey
.work-experience-item__place
    font-weight: bold
.work-experience-item-tasks__task
    font-size: .8em
.links
  min-height: auto
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  @media screen and ( max-width: $break-small )
    justify-content: flex-start
    align-items: flex-start
  &-list
    &>a
      font-size: .8em
      font-weight: bold
      margin: 0 10px
      text-decoration: none
      @media screen and ( max-width: $break-small )
        margin: 0 5px
      &:first-child
        @media screen and ( max-width: $break-small )
          margin: 0
.skills
  min-width: 200px
  width: 20%
.projects
  padding-bottom: 40px
  &>.big-text
    left: 15%
    @media screen and ( max-width: $break-medium )
      display: none
  &>h2
    transform: rotate(-90deg) translate(-40%, -5%)
  &-block
    padding: 100px 10px 0 140px
  @media screen and ( max-width: $break-medium )
    &>h2
      transform: none
    &-block
      padding: 30px 0 0

.project
  margin: 20px 0
  display: flex
  justify-content: space-between
  align-items: center
  @media screen and ( max-width: $break-large )
    flex-wrap: wrap
  &__name
    font-weight: bold
  &-data-wrapper
    max-width: 25%
    position: relative
    @media screen and ( max-width: $break-large )
      width: 100%
      max-width: 440px
  &-images-wrapper
    width: 75%
    display: flex
    justify-content: flex-start
    align-items: flex-start
    padding-left: 30px
    @media screen and ( max-width: $break-large )
      width: 80%
      max-width: 80%
      padding: 0
    @media screen and ( max-width: $break-medium )
      flex-direction: column
      order: -1
      margin-bottom: 10px
    &>figure
      max-width: 100%
  &-stack__block
    margin: 0 0 5px
figure.img
  box-shadow: $global-shadow
  height: 134px
  z-index: 3
  &>img
    max-width: 100%
  &.img1
    width: 280px
    clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 100% 0%)
    box-shadow: $global-shadow
    @media screen and ( max-width: $break-medium )
      clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%)
      width: 120%
      max-width: 440px
.tech
  border: 1px solid $global-dark-grey
  color: $global-dark-grey
  display: inline-block
  margin: 0 5px
  padding: 0 5px
  border-radius: 5px
  font-size: 14px
  &:first-child
    margin-left: 0
.two-images-block
  display: flex
  flex-direction: column
  margin-left: -50px
  margin-top: 10px
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3)
  z-index: 0
  @media screen and ( max-width: $break-medium )
    flex-direction: row
    max-width: 120%
    margin: 0
  &>figure
    width: 220px
    height: 64px
    margin: 0
    padding: 0
    @media screen and ( max-width: $break-medium )
      max-width: 50%
      height: 80px
    &>img
      height: 100%
      width: 100%
.main-image-wrapper
  filter: drop-shadow(1px 2px 3px rgba(0,0,0,0.3))
  z-index: 3
.to-be-continued
  font-size: 1.5em
  font-weight: bold
  text-transform: uppercase
  text-align: center
  color: $global-dark-grey
  
.resume-field
  width: 100%
  display: flex
  justify-content: center
  flex-wrap: wrap
  padding-left: calc( 50px + 5% )
  padding-top: 20px
  margin-top: 15px
  @media screen and ( max-width: $break-medium )
    padding: 0
    margin-left: 50px
  &>div
    min-height: 186px
    @media screen and ( max-width: $break-large )
      min-height: auto
    &.objective
      min-height: auto
      margin: 15px 0
      @media screen and ( max-width: $break-medium )
        max-width: calc(100% - 50px)
  &-left
    width: 60%
    min-width: 500px
    border-right: 1px solid $global-grey
    @media screen and ( max-width: $break-large )
      width: 100%
      border: none
    @media screen and ( max-width: $break-medium )
      min-width: auto
      width: 90%
      border: none
      max-width: 90%
    &>div>.title
      transform: none
      margin: 5px 0
    &>.work-experience>ul>li
      position: relative
      margin: 15px 10px 15px 0
      &>div
        margin: 3px 0
      &>.work-experience-item__dates
        font-size: .7em

  &-right
    width: 40%
    min-width: 200px
    display: flex
    align-items: flex-end

    &>div>.title
      transform: none
      margin: 5px 0
      text-align: right
      @media screen and ( max-width: $break-large )
        text-align: left
  &.top > div
    border-top: 1px solid $global-grey
  &.bottom > div
    border-bottom: 1px solid $global-grey
    display: flex
    align-items: flex-end
.project__release-date
  position: absolute
  top: 3px
  right: 5px
  font-size: .6em
  color: $global-dark-grey

.resume-field
  padding: 0 50px
  max-width: calc(100% - 50px)
  @media screen and ( max-width: $break-medium )
    padding: 0
    margin-left: 50px
  &.none
    min-height: auto
  &-right
    display: flex
    flex-direction: column
    @media screen and ( max-width: $break-medium )
      max-width: 90%
  &>.projects
    &>.big-text.bg
      font-size: 1.17em
      position: relative
      color: #000
      left: 0
      text-align: left
      margin: 10px 0
      text-transform: capitalize
    &>.projects-block
      padding: 0
      &>.project:first-child
        margin: 0
    &>h2
      display: none
.resume-data__block
  display: flex
  justify-content: flex-start
  align-items: flex-end
  &>div
    display: flex
    &>img
      max-height: 150px
      align-self: flex-end
      justify-self: flex-end
    &>ul
      list-style-type: none
      padding: 0 10px 
      &>h3
        font-weight: 300
        justify-self: flex-start
        align-self: flex-start
        transform: none
        margin-bottom: 15px
      &>li
        margin: 5px 0
        &>.key
          font-weight: bold
          min-width: 80px
          display: inline-block
          font-size: .8em
        &>.value
          font-size: .8em
  &.links
    justify-content: center
    align-self: flex-end
    min-height: auto
    &>h3
      margin: 5px 0
    &>.links-list>a
      text-decoration: none
      margin: 0
      font-weight: 400
      &:hover
        text-decoration: underline
    &>ul
      list-style-type: none
      &>li
        min-width: 150px
        display: flex
        justify-content: space-between
        &>.lang
          font-size: .9em
        &>.doctype
          &>a
            padding: 0 3px
            text-decoration: none
            font-weight: 400
            font-size: .8em
            &:hover
              text-decoration: underline
    &>.links-list
      flex-direction: column
      justify-content: flex-end
      align-items: flex-end

  &>.title
    position: relative
    transform: none
.objective-text
  font-size: .9em
.skills-block
  display: flex
  flex-wrap: no-wrap
  &__title
    min-width: 90px
    font-size: .9em
  &-skills
    display: flex
    flex-wrap: wrap
    &__skill
      border: 1px solid $global-dark-grey
      border-radius: 5px
      padding: 1px 8px
      margin: 0 5px
      margin-bottom: 8px 
      font-size: .75em 
.language
  padding: 2px 0
  &__title
    font-weight: 600
    text-align: right
    font-size: .9em
    @media screen and ( max-width: $break-large )
      text-align: left
  &__level
    font-size: .8em
    color: $global-dark-grey
.education-block>ul
  &>li
    margin: 0 0 8px 0
    &>.education__level, 
    &>.education__place
      display: block
      text-align: right
      padding: 0
      @media screen and ( max-width: $break-large )
        text-align: left
.border-top
  &>div
    border-top: 1px solid $global-grey
div.certificates-block
  width: 100%
  @media screen and ( max-width: $break-medium )
    max-width: calc(100% - 55px)
  &>h3
    transform: none
    margin: 5px 0
  &>ul
    display: flex
    flex-direction: column
    flex-wrap: wrap
    max-height: 180px
    align-items: flex-start
    @media screen and ( max-width: $break-medium )
      max-height: none
    &>li
      max-width: 50%
      font-size: 13px
      &>.course__name
        font-size: .9em 
      &>.course__by
        font-size: 1em 
.resume-header
  padding: 20px 0 0 calc(50px + 5%)
  &__name
    font-size: 2em
    display: inline-block
    color: $global-dark-grey
  &__position
    font-size: 1.3em
    color: $global-dark-grey
    display: inline-block
    margin-left: 20px
div.resume-field-right
  @media screen and ( max-width: $break-large )
    width: 100%
    border: none
    display: flex
    align-items: flex-start
    justify-content: flex-start
    flex-wrap: nowrap
    &>div
      align-self: auto
      justify-self: auto
      &>.title
      text-align: left
.resume-field.bottom>div.resume-field-right
  @media screen and ( max-width: $break-large )
    justify-content: space-between
    flex-wrap: wrap
    flex-direction: row
    &>div.resume-data__block.links
      align-self: flex-start
      align-items: flex-start
      width: 49%
      &>div.links-list
        justify-content: flex-start
        align-items: flex-start
      &:last-child
        align-self: center
        justify-self: center
        align-items: flex-end
        display: flex
      &>.title
      text-align: left
.sorry_under_construction
  width: 100%
  height: 100%
  min-height: 75vh
  display: flex
  justify-content: center
  align-items: center
  position: relative
  &>h2
    position: absolute
    left: 50% 
    top: 50%
    transform: translate(-50%, -120%)
    font-size: 3em
  &~ul
    position: absolute
    top: 20px
    right: 20px
    cursor: pointer
.ru
  &>div.wscreen-titles 
    background-image: none
    &>:nth-child(1)
      transform: translate(43%, -60%)
      font-family: Montserrat, serif
      &>.title__cap
        top: 10px
        right: 70px
        text-align: right      
    &>:nth-child(2)
      transform: translate(-85%, -130%)
      font-family: Montserrat, serif
      &>.title__cap
        bottom: -100px
        text-align: right
    @media screen and ( max-width: $break-medium )
      &>:nth-child(1)
        transform: translate(43%, 20%)   
        &>.title__cap
          right: 40px 
      &>:nth-child(2)
        transform: translate(-85%, -50%)
        &>.title__cap
          bottom: -60px
    @media screen and ( max-width: $break-small )
      &>:nth-child(1)
        transform: translate(43%, 40%)  
        font-size: 0.7em 
        &>.title__cap
          right: 40px
          top: 3px 
      &>:nth-child(2)
        transform: translate(-85%, -50%)
        &>.title__cap
          bottom: -42px

      