@import './variables'
@import './mixins'
$global-grey: #f2f2f2
$global-dark-grey: #686868
$global-active-color: #0077FF
$global-error-color: #B00020
$input-border-color: $global-dark-grey
$input-active: $global-active-color
$input-error: $global-error-color


/**
  * Inputs style
  */

::placeholder
  color: transparent
input, textarea
  border: none
  padding: 10px 5px
  outline: none
  width: 100%
  background-color: transparent
  &:focus ~ label
    transform: translateY(-30%)
    font-size: 0.7em
    color: $input-active
    @include transition
  &:focus ~ .border
    transform: scale(1)
  &:not(:placeholder-shown) ~ label
    transform: translateY(-30%)
    font-size: 0.7em
    color: $input-active
    @include transition
textarea
  padding: 10px 5px 0 5px
  resize: none
  overflow: hidden
  margin-bottom: 2px
button
  background-color: transparent
  border: none
  cursor: pointer
  text-transform: capitalize
  font-size: 1.1em
  font-weight: 400
  padding: 5px 15px

.input
  position: relative
  display: inline-block
  border-bottom: 1px solid $input-border-color
  @include transition
  &.textarea
    border-bottom: 1px solid $input-border-color
  &>label
    position: absolute
    top: 0
    left: 0
    transform: translateY(50%)
    cursor: text
    @include transition
  &.error
    &>input, &>textarea
      &:focus ~ label
        color: $input-error
      & ~ .border
        background-color: $input-error
        transform: scale(1)
      &:not(:placeholder-shown) ~ label
        color: $input-error
    &>label
      color: $input-error

.border
  position: absolute
  bottom: -1px
  left: 0
  height: 1px
  width: 100%
  background: $input-active
  transform: scale(0)
  transform-origin: 0 0
  @include transition

/**
  * Input group style
  */
.input-group
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  flex-wrap: wrap
  padding: 0 10px
  margin-bottom: 15px
  &>span
    justify-self: flex-end
    align-self: center
    font-size: .8em
    @media screen and ( max-width: $break-medium )
      display: none
  &>.input
    max-width: 50%
    min-width: 200px
    margin-bottom: 15px
    &.textarea
      width: 100%
      max-width: 100%
    @media screen and ( max-width: $break-medium )
      min-width: 150px
    @media screen and ( max-width: $break-small )
      max-width: 100%
      width: 100%
  @media screen and ( max-width: $break-medium )    
    &>div:nth-child(2)    
      margin-bottom: 0
        

/**
  * Form
  */

form
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  width: 100%
  padding: 50px 10px
  margin: auto
  &>button
    outline: none
    align-self: flex-end

.feedback-form
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  width: 100%
  padding: 50px 10px 50px 60px
  margin: auto
  background-color: $global-grey
  @media screen and ( max-width: $break-small )
    padding: 50px 10px
  &>form
    max-width: 900px
  &-titles
    text-align: center
    max-width: 900px
    &__title
      font-weight: 700
      font-size: 1.5em
    &__subtitle
      font-size: .7em
      color: $global-dark-grey
      line-height: 0.9em
      font-weight: 300
    &__message
      font-weight: 300
      color: $global-dark-grey
      font-size: .9em
.thanks
  min-height: 270px
  display: flex
  justify-content: center
  align-items: center
/**
  * Errors
  */
.inline-error
  position: absolute
  font-size: .6em
  bottom: -15px
  right: 0
  color: $global-error-color
  @media screen and ( max-width: $break-medium )
    font-size: .5em
/**
  * blocks
  */
.full-width
  width: 100%

/**
  * texts(typo)
  */
.big-text
  font-size: calc( 5.7em + .5vw )
  font-weight: bold
  text-transform: uppercase
  color: rgba($global-grey, .8)
  text-align: center
  position: absolute
  z-index: 0
  @media screen and ( max-width: $break-medium )
    font-size: 13vw
  @media screen and ( max-width: $break-small )
    font-size: 10vw
  &.bg
    font-size: calc( 10em + .5vw )
    @media screen and ( max-width: $break-ex-large )
      font-size: calc( 6em + .5vw )
    @media screen and ( max-width: $break-medium )
      font-size: calc( 5em + .5vw )
    @media screen and ( max-width: $break-small )
      font-size: 0
    
    