// breaks
$break-small: 600px
$break-medium: 790px
$break-large: 1160px
$break-ex-large: 1600px

//colors and shadows

$blue: #1B23BB
$global-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

@mixin absolute-skewed-block
  content: ''
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  transform: skewX(-10deg)
  z-index: -1