*
  padding: 0
  margin: 0
  box-sizing: border-box
html, body
  background-color: #f2f2f2
  overflow-x: hidden
  max-width: 100%
h1, h2, h3, h4, h5, h6, p, span, div, a
  font-family: 'Nunito Sans', sans-serif
  
a
  color: black
  text-decoration: underline
ul
  list-style-type: none
p
  max-width: 100%
@import 'variables'
@import 'pages'
@import 'ui'

.mp-container
  padding: 0 0 0 50px
  &>div>h2
    font-size: calc( 1.4em + 3vw )
    text-transform: uppercase
    position: absolute
    color: rgba($global-dark-grey, .5)
